.input {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  bottom: 0;
  right: 20px;
  transition: background-color 0.2s ease;
}

.input.focus {
  background-color: rgb(53, 52, 52);
}

.input:hover {
  background-color: rgb(53, 52, 52);
}

.input__form {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.input__text {
  font-size: 18px;
  padding: 5px 15px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #eee;
  min-width: 5px;
  flex-grow: 1;
}

.input__submit {
  border: none;
  background-color: transparent;
  color: rgb(167, 164, 164);
  font-size: 18px;
  width: max-content;
  cursor: pointer;
  transition: color 0.2s ease;
}

.input.focus .input__submit {
  color: #eee;
}

.input__icon {
  display: block;
}

.input__icon .fas {
  color: rgb(167, 164, 164);
  font-size: 20px;
  width: 25px;
  text-align: center;
}

.circle {
  display: block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  border: #eee solid 3px;
}
